langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-experimental
langchain-ollama
langchain-google-genai>=4.0.0,<5.0.0

langgraph>=1.0.0,<2.0.0

chromadb
sentence-transformers
huggingface-hub

google-genai

pypdf
docx2txt
jq
networkx

flask
fastapi
streamlit

python-dotenv>=1.0.0,<2.0.0

pandas
numpy
scikit-learn
statsmodels
joblib

tensorflow
torch
torchvision
transformers
accelerate

matplotlib
seaborn
plotly
pillow

ultralytics
diffusers

reportlab
fpdf

pyttsx3
gtts

kagglehub